---
layout: main
section: blog
---
<div class="content-main content-post col-sm-9 col-xs-12">
  <h1>{{ page.title }}</h1>
  <div class="description">
    <div class="date col-xs-5 col-sm-3">{{ page.date | date: "%-d %B %Y"}}</div>
    <div class="tags">
      {% for tag in site.tags %}
        <span class="tag"><i class="fa fa-tag fa-sm"></i>{{ tag | first }}</span>
      {% endfor %}
    </div>
  </div>
<article class="post">
{{ content }}
</article>
</div>

<div class="content-quick-blog col-sm-3 col-xs-12">
  <h4>Michael Szymczak's blog</h4>
  <ul>
    <li>foo</li>
    <li>bar</li>
    <li>baz</li>
  </ul>
</div>
