---
layout: main
title: Michael Szymczak's Blog
section: blog
---
<div class="content-main col-sm-9 col-xs-12">
{% include content/main_title.html main="Michael's Blog" %}

<section class="home posts content-post">
  {% for post in site.posts %}
  <article class="articles-list">
    <div class="date">{{ post.date | date: "%-d %B %Y"}}</div>
    <h2 class="entry"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
    <div class="tags">
      {% for tag in post.tags %}
      <span class="tag"><i class="fa fa-tag fa-sm"></i>{{ tag }}</span>
      {% endfor %}
    </div>
    <div class="list-excerpt">
    {{ post.excerpt }}<a href="{{ site.baseurl }}{{ post.url }}">Read more</a>
    </div>
  </article>
  {% endfor %}
</section>
</div>


<div class="content-quick col-sm-3 col-xs-12">
  <!--<h2>Jump to</h2>-->
  <!--<ul>-->
    <!--<li>foo</li>-->
    <!--<li>bar</li>-->
    <!--<li>baz</li>-->
  <!--</ul>-->
</div>
