<nav class="navbar navbar-inverse hidden-xs">
    <div class="navbar-header">
      <a class="navbar-title navbar-brand {% if page.section == 'intro' %}active{% endif %}" href="/">Michael Szymczak</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="{% if page.section == 'about' %}active{% endif %}" ><a href="/about">  <span class="text">About</span>{% if page.section == 'about' %}<span class="sr-only">(current)</span>{% endif %}</a></li>
      <li class="{% if page.section == 'blog' %}active{% endif %}" ><a href="/blog">    <span class="text">Blog</span>{% if page.section == 'blog' %}<span class="sr-only">(current)</span>{% endif %}</a></li>
      <li class="{% if page.section == 'contact' %}active{% endif %}" ><a href="/contact">    <span class="text">Contact</span>{% if page.section == 'contact' %}<span class="sr-only">(current)</span>{% endif %}</a></li>
    </ul>
</nav>

<nav class="navbar navbar-inverse visible-xs">
  <div>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="hidden-xs navbar-title navbar-brand {% if page.section == 'intro' %}active{% endif %}" href="/">Michael Szymczak</a>
      <a class="visible-xs navbar-brand" href="/">Michael Szymczak</a>
      {% if page.section == 'about' %}
      <a class="visible-xs navbar-brand" href="/about">[About]</a>
      {% endif %}
      {% if page.section == 'blog' %}
      <a class="visible-xs navbar-brand" href="/blog">[Blog]</a>
      {% endif %}
      {% if page.section == 'contact' %}
      <a class="visible-xs navbar-brand" href="/contact">[Contact]</a>
      {% endif %}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="{% if page.section == 'about' %}active{% endif %}" ><a href="/about">  <span class="text">About</span>{% if page.section == 'about' %}<span class="sr-only">(current)</span>{% endif %}</a></li>
        <li class="{% if page.section == 'blog' %}active{% endif %}" ><a href="/blog">    <span class="text">Blog</span>{% if page.section == 'blog' %}<span class="sr-only">(current)</span>{% endif %}</a></li>
        <li class="{% if page.section == 'contact' %}active{% endif %}" ><a href="/contact">    <span class="text">Contact</span>{% if page.section == 'contact' %}<span class="sr-only">(current)</span>{% endif %}</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
