@import "_variables.scss";

.content-quick-blog {
  padding-top: 62px;
  padding-left: 10px;
  ul {
    padding-left: 10px;
    list-style: none;
    font-variant: small-caps;
  }
}

.content-post {
  h1 {
    font-size: 30pt;
    text-align: left;
    margin-bottom: 0.2em;
  }

  h2 {
    margin-top: 1.5em;
  }

  .description {
    text-align: left;
    line-height: 130%;
    font-variant: small-caps;
    margin-bottom: 3em;
    font-size: 12pt;

    .date {
      background-color: $color-interesting;
      padding: 0.3em 0.5em;
      margin-top: 0.2em;
      margin-bottom: 0.5em;
      text-align: center;
    }

    .tags {
      padding-top: 0.3em;
      i {
        margin-right: 0.3em;
      }
      .tag {
        margin-left: 0.5em;
      }
    }
  }

  p {
    margin-bottom: 20px;
  }

  .dialogue {
    margin: 1em 0;
    padding: 1em;
    font-size: 80%;
    border-left: 5px solid $light-decoration-color;
  }

  article.post {

    p.excerpt::first-letter {
      font-size: 30pt;
      text-align: left;
      margin-bottom: 0.2em;
      margin-left: 2em;
      margin-right: 0.1em;
      line-height: 100%;
      font-family: $font-family-maintitle;
    }
  }

  .highlight {
    margin-bottom: 1em;
  }
}
