@import "_variables.scss";

.content-quick {
  padding-top: 30px;
  padding-left: 10px;
  ul {
    padding-left: 10px;
    list-style: none;
    font-variant: small-caps;
  }
}

.content-main {
  text-align: justify;
  border-right: 1px solid $light-decoration-color;
  margin-top: 10px;
}

.content-main {

  section {
    margin-bottom: 3em;
    clear: both;
  }

  h1 {
    font-size: 48px;
    font-weight: bold;
    font-family: $font-family-maintitle;
    line-height: 1em;
    color: $color-title;
    border-bottom: 1px solid $light-decoration-color;
    margin-top: 0.8em;
    margin-bottom: 0.8em;

    &.giveMeSomeSpace {
      margin-top: 2.5em;
    }

    a.backToTheTop {
      font-weight: normal;
      font-variant: small-caps;
      font-size: small;
      color: $decoration-color;
      padding-right: 1em;
      display: block;
      text-align: right;
      border-right: 1em solid $light-decoration-color;
    }

    small {
      display: block;
      font: $font-subtitle;
    }
  }

  ul {
    list-style-type: square;
  }

  p {
    text-align: justify;
  }

  a {
    color: #CA3C08;
  }

}

.portfolio {
  font-size: 11pt;

  .portfolio-entry {
    border-right: 2px solid #EBF0F1;
    margin-right: 2px;
  }


  h3 {
    background-color: #EBF0F1;
    padding: 1em;
    margin-bottom: 1.5em;
  }

  table {
    td {
      padding: 0.5em 1em 0 0;
    }
    tr {
      border-bottom: 1px solid $light-decoration-color;
    }
  }

  .row {
    padding: 0 15px;
    text-align: justify;
  }

  .portfolio-block {
    margin-bottom: 1em;
  }

  blockquote {
    border: none;
    img {
      margin-bottom: 0.5em;
    }
  }

}
