.navbar {

  $navbar-text-color: #d3d8d9;
  $navbar-focus-text-color: White;
  $navbar-active-background: #19242E;

  $navbar-height: 40px;
  $navbar-padding: 10px 25px 10px 20px;

  background-color: #2C3E50;
  border-radius: 0;
  margin: 0;
  min-height: $navbar-height;
  border: none;

  .text { margin-left: 0.5em; }
  a { color: $navbar-text-color; }

  .navbar-brand {
    color: $navbar-text-color;
    padding: $navbar-padding;
    height: $navbar-height;


    &.active {
      background-color: $navbar-active-background;
    }
  }

  .navbar-toggle:hover, .navbar-toggle:focus { background-color: $navbar-active-background; }

  .navbar-nav {
    > li > a {
      color: $navbar-text-color;
      padding: $navbar-padding;
      font-size: 15px;
      height: $navbar-height;

    }
    > li:hover { background-color: $navbar-active-background; }

    .active {
      background-color: $navbar-active-background;
        a, a:hover, a:focus {
          background-color: $navbar-active-background;
          color: $navbar-text-color;
      }
    }
  }
}


