$screen-lg-min: 1400px;
$screen-sm-min: 768px;

$navbar-leftshift: 190px;
$shouting-color: Orange;
$max-width: 1000px;
$decoration-color: #2C3E50;
$light-decoration-color: #DDD;
$color-interesting: #79a5c7;

$font-subtitle: italic 300 24px "Source Sans Pro",Helvetica,sans-serif;
$font-family-maintitle: Bitter,Georgia,serif;
